/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 15px 30px;
    }

    box-sizing: border-box;
    color: $pw-dark-blue;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    border-radius: 4px;
    color: $pw-white;
    background: $pw-dark-blue url($assets-buttonhighlighter-png) repeat-x;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;

    &:hover {
      background-color: $pw-light-blue;
      color: $pw-white;
      text-decoration: none;
    }
    &:active {
      background-color: $pw-white;
      color: $pw-dark-blue;
      text-decoration: none;
      border: 2px solid $pw-dark-blue;
    }
    
    &:focus {
      @include focus-ring;
      text-decoration: none;
    }
  }

  &-item-title {
    margin-bottom: 0;
    font-size: 16px;
  }

  &-item-description {
    font-weight: $font-weight-light;
    margin: 0;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
